<h1>Insomnia Munchies</h1>
<img src="./public/images/280-2809072_burger-sandwich-clipart-png-burger-clipart-transparent-background.png" alt="picture of a burger">
<h2>Pick a Burger any Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
  
  </div>

  <button type="submit">Add Burger</button>
</form>
<h2>Burgers you would like to eat!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{burger_name}}
      <button class="Eat" data-id="{{id}}" data-newdevoured="{{devoured}}">
        swallow
    </button>
    <br>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers already DEVOURED!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
     {{burger_name}}
     <br>
    {{/if}}
  {{/each}}
</ul>

