html{
  margin-top: 10px;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  display: inline;
}

body{
  background: url(/images/burgerbackdrop.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  color: white;
  height: 100%;
  }

.headerTitle{ 
background-color: blanchedalmond;
width: 100%;
padding-top: 25px;
padding-bottom: 25px;
outline: 5px solid black;
}

.burgerImg{
 height: 90px;
}
.fries{
  height: 90px;
  margin: 0%;
}

.title{
  font-size: 150px;
  text-align: center;
  color: black;
}

.lineupBurger{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.delicacy{
  margin-right: 100px;
  background-color: rgba(83, 55, 55, 0.253);
  width: fit-content;
  border-radius: 10px;
  text-align: center;
}

.devoured{
  margin-right: 100px;
  background-color: rgba(83, 55, 55, 0.253);
  width: fit-content;
  border-radius: 10px;
  text-align: center;
}
.pickOne{
  text-align: center;
  margin-top: 100px;
  

}

.outline2{
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 35px;


}
.outline1{
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 35px;
  
}

#text{
  font-size: 30px;
}